.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.span-col-3{grid-column: span 3 / auto;}

.span-col-2{grid-column: span 2 / auto;}

#com{

    background-color: cyan;
}